{{>admin/layouts/header}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
<script>

    $(document).ready(function() {
        $('#example').DataTable({
            searching: false,
            ordering: false,
            pageLength: 10,
            lengthChange: false
        });

        // 테이블의 바디 부분에서 tr을 클릭했을 때 이벤트
        $('#example tbody').on('click', 'tr', function() {
            // 현재 클릭한 행(tr)의 data-id 값 가져오기
            var id = parseInt($(this).data('id'), 10);
            window.location.href = "/board/detail/" + id;
        });
    });

</script>

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">제보 관리</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Pages</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Starter Page</a>
                </li>
            </ul>
        </div>
        <div class="page-category">
            <!-- Inner page content goes here -->
            <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>id</th>
                    <th>작성자</th>
                    <th>작성 일시</th>
                    <th>목격 날짜</th>
                    <th>목격 시간</th>
                    <th>위치</th>
                    <th>해파리 종</th>
                </tr>
                </thead>
                <tbody>
                {{#reports}}
                <tr data-id="{{id}}">
                    <td>{{id}}</td>
                    <td>{{writer}}</td>
                    <td>{{formattedCreateDate}}</td>
                    <td>{{date}}</td>
                    <td>{{hour}}시 {{minute}}분</td>
                    <td>{{location}}</td>
                    <td>{{jelly}}</td>
                </tr>
                {{/reports}}
                </tbody>
                <tfoot>
                <tr>
                    <th>id</th>
                    <th>작성자</th>
                    <th>작성 일시</th>
                    <th>목격 날짜</th>
                    <th>목격 시간</th>
                    <th>위치</th>
                    <th>해파리 종</th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>


{{>admin/layouts/footer}}