{{>admin/layouts/header}}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
<script>new DataTable('#example');</script>
<style>
    @charset "UTF-8";
    :root {
      --dt-row-selected: 13, 110, 253;
      --dt-row-selected-text: 255, 255, 255;
      --dt-row-selected-link: 9, 10, 11;
      --dt-row-stripe: 0, 0, 0;
      --dt-row-hover: 0, 0, 0;
      --dt-column-ordering: 0, 0, 0;
      --dt-html-background: white;
    }
    :root.dark {
      --dt-html-background: rgb(33, 37, 41);
    }

    table.dataTable td.dt-control {
      text-align: center;
      cursor: pointer;
    }
    table.dataTable td.dt-control:before {
      display: inline-block;
      box-sizing: border-box;
      content: "";
      border-top: 5px solid transparent;
      border-left: 10px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid transparent;
      border-right: 0px solid transparent;
    }
    table.dataTable tr.dt-hasChild td.dt-control:before {
      border-top: 10px solid rgba(0, 0, 0, 0.5);
      border-left: 5px solid transparent;
      border-bottom: 0px solid transparent;
      border-right: 5px solid transparent;
    }
    table.dataTable tfoot:empty {
      display: none;
    }

    html.dark table.dataTable td.dt-control:before,
    :root[data-bs-theme=dark] table.dataTable td.dt-control:before,
    :root[data-theme=dark] table.dataTable td.dt-control:before {
      border-left-color: rgba(255, 255, 255, 0.5);
    }
    html.dark table.dataTable tr.dt-hasChild td.dt-control:before,
    :root[data-bs-theme=dark] table.dataTable tr.dt-hasChild td.dt-control:before,
    :root[data-theme=dark] table.dataTable tr.dt-hasChild td.dt-control:before {
      border-top-color: rgba(255, 255, 255, 0.5);
      border-left-color: transparent;
    }

    div.dt-scroll {
      width: 100%;
    }

    div.dt-scroll-body thead tr,
    div.dt-scroll-body tfoot tr {
      height: 0;
    }
    div.dt-scroll-body thead tr th, div.dt-scroll-body thead tr td,
    div.dt-scroll-body tfoot tr th,
    div.dt-scroll-body tfoot tr td {
      height: 0 !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      border-top-width: 0px !important;
      border-bottom-width: 0px !important;
    }
    div.dt-scroll-body thead tr th div.dt-scroll-sizing, div.dt-scroll-body thead tr td div.dt-scroll-sizing,
    div.dt-scroll-body tfoot tr th div.dt-scroll-sizing,
    div.dt-scroll-body tfoot tr td div.dt-scroll-sizing {
      height: 0 !important;
      overflow: hidden !important;
    }

    table.dataTable thead > tr > th:active,
    table.dataTable thead > tr > td:active {
      outline: none;
    }
    table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
    table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
    table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
      position: absolute;
      display: block;
      bottom: 50%;
      content: "▲";
      content: "▲"/"";
    }
    table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
    table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
    table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
      position: absolute;
      display: block;
      top: 50%;
      content: "▼";
      content: "▼"/"";
    }
    table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > th.dt-ordering-asc, table.dataTable thead > tr > th.dt-ordering-desc,
    table.dataTable thead > tr > td.dt-orderable-asc,
    table.dataTable thead > tr > td.dt-orderable-desc,
    table.dataTable thead > tr > td.dt-ordering-asc,
    table.dataTable thead > tr > td.dt-ordering-desc {
      position: relative;
      padding-right: 30px;
    }
    table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order,
    table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order,
    table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order,
    table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order,
    table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
      position: absolute;
      right: 12px;
      top: 0;
      bottom: 0;
      width: 12px;
    }
    table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
    table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
    table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after,
    table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before,
    table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
    table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
    table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after,
    table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before,
    table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
      left: 0;
      opacity: 0.125;
      line-height: 9px;
      font-size: 0.8em;
    }
    table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc,
    table.dataTable thead > tr > td.dt-orderable-asc,
    table.dataTable thead > tr > td.dt-orderable-desc {
      cursor: pointer;
    }
    table.dataTable thead > tr > th.dt-orderable-asc:hover, table.dataTable thead > tr > th.dt-orderable-desc:hover,
    table.dataTable thead > tr > td.dt-orderable-asc:hover,
    table.dataTable thead > tr > td.dt-orderable-desc:hover {
      outline: 2px solid rgba(0, 0, 0, 0.05);
      outline-offset: -2px;
    }
    table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
    table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
    table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
      opacity: 0.6;
    }
    table.dataTable thead > tr > th.sorting_desc_disabled span.dt-column-order:after, table.dataTable thead > tr > th.sorting_asc_disabled span.dt-column-order:before,
    table.dataTable thead > tr > td.sorting_desc_disabled span.dt-column-order:after,
    table.dataTable thead > tr > td.sorting_asc_disabled span.dt-column-order:before {
      display: none;
    }
    table.dataTable thead > tr > th:active,
    table.dataTable thead > tr > td:active {
      outline: none;
    }

    div.dt-scroll-body > table.dataTable > thead > tr > th,
    div.dt-scroll-body > table.dataTable > thead > tr > td {
      overflow: hidden;
    }

    :root.dark table.dataTable thead > tr > th.dt-orderable-asc:hover, :root.dark table.dataTable thead > tr > th.dt-orderable-desc:hover,
    :root.dark table.dataTable thead > tr > td.dt-orderable-asc:hover,
    :root.dark table.dataTable thead > tr > td.dt-orderable-desc:hover,
    :root[data-bs-theme=dark] table.dataTable thead > tr > th.dt-orderable-asc:hover,
    :root[data-bs-theme=dark] table.dataTable thead > tr > th.dt-orderable-desc:hover,
    :root[data-bs-theme=dark] table.dataTable thead > tr > td.dt-orderable-asc:hover,
    :root[data-bs-theme=dark] table.dataTable thead > tr > td.dt-orderable-desc:hover {
      outline: 2px solid rgba(255, 255, 255, 0.05);
    }

    div.dt-processing {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      margin-left: -100px;
      margin-top: -22px;
      text-align: center;
      padding: 2px;
      z-index: 10;
    }
    div.dt-processing > div:last-child {
      position: relative;
      width: 80px;
      height: 15px;
      margin: 1em auto;
    }
    div.dt-processing > div:last-child > div {
      position: absolute;
      top: 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: rgb(13, 110, 253);
      background: rgb(var(--dt-row-selected));
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    div.dt-processing > div:last-child > div:nth-child(1) {
      left: 8px;
      animation: datatables-loader-1 0.6s infinite;
    }
    div.dt-processing > div:last-child > div:nth-child(2) {
      left: 8px;
      animation: datatables-loader-2 0.6s infinite;
    }
    div.dt-processing > div:last-child > div:nth-child(3) {
      left: 32px;
      animation: datatables-loader-2 0.6s infinite;
    }
    div.dt-processing > div:last-child > div:nth-child(4) {
      left: 56px;
      animation: datatables-loader-3 0.6s infinite;
    }

    @keyframes datatables-loader-1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes datatables-loader-3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes datatables-loader-2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
    table.dataTable.nowrap th, table.dataTable.nowrap td {
      white-space: nowrap;
    }
    table.dataTable th,
    table.dataTable td {
      box-sizing: border-box;
    }
    table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date,
    table.dataTable td.dt-type-numeric,
    table.dataTable td.dt-type-date {
      text-align: right;
    }
    table.dataTable th.dt-left,
    table.dataTable td.dt-left {
      text-align: left;
    }
    table.dataTable th.dt-center,
    table.dataTable td.dt-center {
      text-align: center;
    }
    table.dataTable th.dt-right,
    table.dataTable td.dt-right {
      text-align: right;
    }
    table.dataTable th.dt-justify,
    table.dataTable td.dt-justify {
      text-align: justify;
    }
    table.dataTable th.dt-nowrap,
    table.dataTable td.dt-nowrap {
      white-space: nowrap;
    }
    table.dataTable th.dt-empty,
    table.dataTable td.dt-empty {
      text-align: center;
      vertical-align: top;
    }
    table.dataTable thead th,
    table.dataTable thead td,
    table.dataTable tfoot th,
    table.dataTable tfoot td {
      text-align: left;
    }
    table.dataTable thead th.dt-head-left,
    table.dataTable thead td.dt-head-left,
    table.dataTable tfoot th.dt-head-left,
    table.dataTable tfoot td.dt-head-left {
      text-align: left;
    }
    table.dataTable thead th.dt-head-center,
    table.dataTable thead td.dt-head-center,
    table.dataTable tfoot th.dt-head-center,
    table.dataTable tfoot td.dt-head-center {
      text-align: center;
    }
    table.dataTable thead th.dt-head-right,
    table.dataTable thead td.dt-head-right,
    table.dataTable tfoot th.dt-head-right,
    table.dataTable tfoot td.dt-head-right {
      text-align: right;
    }
    table.dataTable thead th.dt-head-justify,
    table.dataTable thead td.dt-head-justify,
    table.dataTable tfoot th.dt-head-justify,
    table.dataTable tfoot td.dt-head-justify {
      text-align: justify;
    }
    table.dataTable thead th.dt-head-nowrap,
    table.dataTable thead td.dt-head-nowrap,
    table.dataTable tfoot th.dt-head-nowrap,
    table.dataTable tfoot td.dt-head-nowrap {
      white-space: nowrap;
    }
    table.dataTable tbody th.dt-body-left,
    table.dataTable tbody td.dt-body-left {
      text-align: left;
    }
    table.dataTable tbody th.dt-body-center,
    table.dataTable tbody td.dt-body-center {
      text-align: center;
    }
    table.dataTable tbody th.dt-body-right,
    table.dataTable tbody td.dt-body-right {
      text-align: right;
    }
    table.dataTable tbody th.dt-body-justify,
    table.dataTable tbody td.dt-body-justify {
      text-align: justify;
    }
    table.dataTable tbody th.dt-body-nowrap,
    table.dataTable tbody td.dt-body-nowrap {
      white-space: nowrap;
    }

    :root {
      --dt-row-hover-alpha: 0.035;
      --dt-row-stripe-alpha: 0.023;
      --dt-column-ordering-alpha: 0.019;
      --dt-row-selected-stripe-alpha: 0.923;
      --dt-row-selected-column-ordering-alpha: 0.919;
    }

    /*
     * Table styles
     */
    table.dataTable {
      width: 100%;
      margin: 0 auto;
      border-spacing: 0;
      /*
       * Header and footer styles
       */
      /*
       * Body styles
       */
    }
    table.dataTable thead th,
    table.dataTable tfoot th {
      font-weight: bold;
    }
    table.dataTable > thead > tr > th,
    table.dataTable > thead > tr > td {
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    table.dataTable > thead > tr > th:active,
    table.dataTable > thead > tr > td:active {
      outline: none;
    }
    table.dataTable > tfoot > tr > th,
    table.dataTable > tfoot > tr > td {
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      padding: 10px 10px 6px 10px;
    }
    table.dataTable > tbody > tr {
      background-color: transparent;
    }
    table.dataTable > tbody > tr:first-child > * {
      border-top: none;
    }
    table.dataTable > tbody > tr:last-child > * {
      border-bottom: none;
    }
    table.dataTable > tbody > tr.selected > * {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.9);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.9);
      color: rgb(255, 255, 255);
      color: rgb(var(--dt-row-selected-text));
    }
    table.dataTable > tbody > tr.selected a {
      color: rgb(9, 10, 11);
      color: rgb(var(--dt-row-selected-link));
    }
    table.dataTable > tbody > tr > th,
    table.dataTable > tbody > tr > td {
      padding: 8px 10px;
    }
    table.dataTable.row-border > tbody > tr > *, table.dataTable.display > tbody > tr > * {
      border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
    table.dataTable.row-border > tbody > tr:first-child > *, table.dataTable.display > tbody > tr:first-child > * {
      border-top: none;
    }
    table.dataTable.row-border > tbody > tr.selected + tr.selected > td, table.dataTable.display > tbody > tr.selected + tr.selected > td {
      border-top-color: rgba(13, 110, 253, 0.65);
      border-top-color: rgba(var(--dt-row-selected), 0.65);
    }
    table.dataTable.cell-border > tbody > tr > * {
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
    table.dataTable.cell-border > tbody > tr > *:first-child {
      border-left: 1px solid rgba(0, 0, 0, 0.15);
    }
    table.dataTable.cell-border > tbody > tr:first-child > * {
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    table.dataTable.stripe > tbody > tr:nth-child(odd) > *, table.dataTable.display > tbody > tr:nth-child(odd) > * {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.023);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), var(--dt-row-stripe-alpha));
    }
    table.dataTable.stripe > tbody > tr:nth-child(odd).selected > *, table.dataTable.display > tbody > tr:nth-child(odd).selected > * {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.923);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), var(--dt-row-selected-stripe-alpha));
    }
    table.dataTable.hover > tbody > tr:hover > *, table.dataTable.display > tbody > tr:hover > * {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.035);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), var(--dt-row-hover-alpha));
    }
    table.dataTable.hover > tbody > tr.selected:hover > *, table.dataTable.display > tbody > tr.selected:hover > * {
      box-shadow: inset 0 0 0 9999px #0d6efd !important;
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 1) !important;
    }
    table.dataTable.order-column > tbody tr > .sorting_1,
    table.dataTable.order-column > tbody tr > .sorting_2,
    table.dataTable.order-column > tbody tr > .sorting_3, table.dataTable.display > tbody tr > .sorting_1,
    table.dataTable.display > tbody tr > .sorting_2,
    table.dataTable.display > tbody tr > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), var(--dt-column-ordering-alpha));
    }
    table.dataTable.order-column > tbody tr.selected > .sorting_1,
    table.dataTable.order-column > tbody tr.selected > .sorting_2,
    table.dataTable.order-column > tbody tr.selected > .sorting_3, table.dataTable.display > tbody tr.selected > .sorting_1,
    table.dataTable.display > tbody tr.selected > .sorting_2,
    table.dataTable.display > tbody tr.selected > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.919);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), var(--dt-row-selected-column-ordering-alpha));
    }
    table.dataTable.display > tbody > tr:nth-child(odd) > .sorting_1, table.dataTable.order-column.stripe > tbody > tr:nth-child(odd) > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.054);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), calc(var(--dt-row-stripe-alpha) + var(--dt-column-ordering-alpha)));
    }
    table.dataTable.display > tbody > tr:nth-child(odd) > .sorting_2, table.dataTable.order-column.stripe > tbody > tr:nth-child(odd) > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.047);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), calc(var(--dt-row-stripe-alpha) + var(--dt-column-ordering-alpha) - 0.007));
    }
    table.dataTable.display > tbody > tr:nth-child(odd) > .sorting_3, table.dataTable.order-column.stripe > tbody > tr:nth-child(odd) > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.039);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), calc(var(--dt-row-stripe-alpha) + var(--dt-column-ordering-alpha) - 0.015));
    }
    table.dataTable.display > tbody > tr:nth-child(odd).selected > .sorting_1, table.dataTable.order-column.stripe > tbody > tr:nth-child(odd).selected > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.954);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), calc(var(--dt-row-selected-stripe-alpha) + var(--dt-column-ordering-alpha)));
    }
    table.dataTable.display > tbody > tr:nth-child(odd).selected > .sorting_2, table.dataTable.order-column.stripe > tbody > tr:nth-child(odd).selected > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.947);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), calc(var(--dt-row-selected-stripe-alpha) + var(--dt-column-ordering-alpha) - 0.007));
    }
    table.dataTable.display > tbody > tr:nth-child(odd).selected > .sorting_3, table.dataTable.order-column.stripe > tbody > tr:nth-child(odd).selected > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.939);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), calc(var(--dt-row-selected-stripe-alpha) + var(--dt-column-ordering-alpha) - 0.015));
    }
    table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.082);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), calc(var(--dt-row-stripe-alpha) + var(--dt-column-ordering-alpha) + var(--dt-row-hover-alpha)));
    }
    table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.074);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), calc(var(--dt-row-stripe-alpha) + var(--dt-column-ordering-alpha) + var(--dt-row-hover-alpha) - 0.007));
    }
    table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.062);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), calc(var(--dt-row-stripe-alpha) + var(--dt-column-ordering-alpha) + var(--dt-row-hover-alpha) - 0.015));
    }
    table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.982);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), calc(var(--dt-row-selected-stripe-alpha) + var(--dt-column-ordering-alpha)));
    }
    table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.974);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), calc(var(--dt-row-selected-stripe-alpha) + var(--dt-column-ordering-alpha) + var(--dt-row-hover-alpha) - 0.007));
    }
    table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.962);
      box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), calc(var(--dt-row-selected-stripe-alpha) + var(--dt-column-ordering-alpha) + var(--dt-row-hover-alpha) - 0.015));
    }
    table.dataTable.compact thead th,
    table.dataTable.compact thead td,
    table.dataTable.compact tfoot th,
    table.dataTable.compact tfoot td,
    table.dataTable.compact tbody th,
    table.dataTable.compact tbody td {
      padding: 4px;
    }

    div.dt-container div.dt-layout-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0.75em 0;
    }
    div.dt-container div.dt-layout-row div.dt-layout-cell {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
      justify-content: flex-start;
      margin-right: auto;
    }
    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
      justify-content: flex-end;
      margin-left: auto;
    }
    div.dt-container div.dt-layout-row div.dt-layout-cell:empty {
      display: none;
    }

    @media screen and (max-width: 767px) {
      div.dt-container div.dt-layout-row:not(.dt-layout-table) {
        display: block;
      }
      div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell {
        display: block;
        text-align: center;
      }
      div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell > * {
        margin: 0.5em 0;
      }
      div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell.dt-layout-start {
        margin-right: 0;
      }
      div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell.dt-layout-end {
        margin-left: 0;
      }
    }
    div.dt-container div.dt-layout-start > *:not(:last-child) {
      margin-right: 1em;
    }
    div.dt-container div.dt-layout-end > *:not(:first-child) {
      margin-left: 1em;
    }
    div.dt-container div.dt-layout-full {
      width: 100%;
    }
    div.dt-container div.dt-layout-full > *:only-child {
      margin-left: auto;
      margin-right: auto;
    }
    div.dt-container div.dt-layout-table > div {
      display: block !important;
    }

    @media screen and (max-width: 767px) {
      div.dt-container div.dt-layout-start > *:not(:last-child) {
        margin-right: 0;
      }
      div.dt-container div.dt-layout-end > *:not(:first-child) {
        margin-left: 0;
      }
    }
    /*
     * Control feature layout
     */
    div.dt-container {
      position: relative;
      clear: both;
    }
    div.dt-container .dt-search input {
      border: 1px solid #aaa;
      border-radius: 3px;
      padding: 5px;
      background-color: transparent;
      color: inherit;
      margin-left: 3px;
    }
    div.dt-container .dt-input {
      border: 1px solid #aaa;
      border-radius: 3px;
      padding: 5px;
      background-color: transparent;
      color: inherit;
    }
    div.dt-container select.dt-input {
      padding: 4px;
    }
    div.dt-container .dt-paging .dt-paging-button {
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.5em 1em;
      margin-left: 2px;
      text-align: center;
      text-decoration: none !important;
      cursor: pointer;
      color: inherit !important;
      border: 1px solid transparent;
      border-radius: 2px;
      background: transparent;
    }
    div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
      color: inherit !important;
      border: 1px solid rgba(0, 0, 0, 0.3);
      background-color: rgba(0, 0, 0, 0.05);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); /* Chrome10+,Safari5.1+ */
      background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); /* FF3.6+ */
      background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); /* IE10+ */
      background: -o-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); /* Opera 11.10+ */
      background: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%); /* W3C */
    }
    div.dt-container .dt-paging .dt-paging-button.disabled, div.dt-container .dt-paging .dt-paging-button.disabled:hover, div.dt-container .dt-paging .dt-paging-button.disabled:active {
      cursor: default;
      color: rgba(0, 0, 0, 0.5) !important;
      border: 1px solid transparent;
      background: transparent;
      box-shadow: none;
    }
    div.dt-container .dt-paging .dt-paging-button:hover {
      color: white !important;
      border: 1px solid #111;
      background-color: #111;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #585858 0%, #111 100%); /* Chrome10+,Safari5.1+ */
      background: -moz-linear-gradient(top, #585858 0%, #111 100%); /* FF3.6+ */
      background: -ms-linear-gradient(top, #585858 0%, #111 100%); /* IE10+ */
      background: -o-linear-gradient(top, #585858 0%, #111 100%); /* Opera 11.10+ */
      background: linear-gradient(to bottom, #585858 0%, #111 100%); /* W3C */
    }
    div.dt-container .dt-paging .dt-paging-button:active {
      outline: none;
      background-color: #0c0c0c;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%); /* Chrome10+,Safari5.1+ */
      background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%); /* FF3.6+ */
      background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%); /* IE10+ */
      background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%); /* Opera 11.10+ */
      background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%); /* W3C */
      box-shadow: inset 0 0 3px #111;
    }
    div.dt-container .dt-paging .ellipsis {
      padding: 0 1em;
    }
    div.dt-container .dt-length,
    div.dt-container .dt-search,
    div.dt-container .dt-info,
    div.dt-container .dt-processing,
    div.dt-container .dt-paging {
      color: inherit;
    }
    div.dt-container .dataTables_scroll {
      clear: both;
    }
    div.dt-container .dataTables_scroll div.dt-scroll-body {
      -webkit-overflow-scrolling: touch;
    }
    div.dt-container .dataTables_scroll div.dt-scroll-body > table > thead > tr > th, div.dt-container .dataTables_scroll div.dt-scroll-body > table > thead > tr > td, div.dt-container .dataTables_scroll div.dt-scroll-body > table > tbody > tr > th, div.dt-container .dataTables_scroll div.dt-scroll-body > table > tbody > tr > td {
      vertical-align: middle;
    }
    div.dt-container .dataTables_scroll div.dt-scroll-body > table > thead > tr > th > div.dataTables_sizing,
    div.dt-container .dataTables_scroll div.dt-scroll-body > table > thead > tr > td > div.dataTables_sizing, div.dt-container .dataTables_scroll div.dt-scroll-body > table > tbody > tr > th > div.dataTables_sizing,
    div.dt-container .dataTables_scroll div.dt-scroll-body > table > tbody > tr > td > div.dataTables_sizing {
      height: 0;
      overflow: hidden;
      margin: 0 !important;
      padding: 0 !important;
    }
    div.dt-container.dt-empty-footer tbody > tr:last-child > * {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    div.dt-container.dt-empty-footer .dt-scroll-body {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    div.dt-container.dt-empty-footer .dt-scroll-body tbody > tr:last-child > * {
      border-bottom: none;
    }

    html.dark {
      --dt-row-hover: 255, 255, 255;
      --dt-row-stripe: 255, 255, 255;
      --dt-column-ordering: 255, 255, 255;
    }
    html.dark table.dataTable > thead > tr > th,
    html.dark table.dataTable > thead > tr > td {
      border-bottom: 1px solid rgb(89, 91, 94);
    }
    html.dark table.dataTable > thead > tr > th:active,
    html.dark table.dataTable > thead > tr > td:active {
      outline: none;
    }
    html.dark table.dataTable > tfoot > tr > th,
    html.dark table.dataTable > tfoot > tr > td {
      border-top: 1px solid rgb(89, 91, 94);
    }
    html.dark table.dataTable.row-border > tbody > tr > *, html.dark table.dataTable.display > tbody > tr > * {
      border-top: 1px solid rgb(64, 67, 70);
    }
    html.dark table.dataTable.row-border > tbody > tr:first-child > *, html.dark table.dataTable.display > tbody > tr:first-child > * {
      border-top: none;
    }
    html.dark table.dataTable.row-border > tbody > tr.selected + tr.selected > td, html.dark table.dataTable.display > tbody > tr.selected + tr.selected > td {
      border-top-color: rgba(13, 110, 253, 0.65);
      border-top-color: rgba(var(--dt-row-selected), 0.65);
    }
    html.dark table.dataTable.cell-border > tbody > tr > th,
    html.dark table.dataTable.cell-border > tbody > tr > td {
      border-top: 1px solid rgb(64, 67, 70);
      border-right: 1px solid rgb(64, 67, 70);
    }
    html.dark table.dataTable.cell-border > tbody > tr > th:first-child,
    html.dark table.dataTable.cell-border > tbody > tr > td:first-child {
      border-left: 1px solid rgb(64, 67, 70);
    }
    html.dark .dt-container.dt-empty-footer table.dataTable {
      border-bottom: 1px solid rgb(89, 91, 94);
    }
    html.dark .dt-container .dt-search input,
    html.dark .dt-container .dt-length select {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: var(--dt-html-background);
    }
    html.dark .dt-container .dt-paging .dt-paging-button.current, html.dark .dt-container .dt-paging .dt-paging-button.current:hover {
      border: 1px solid rgb(89, 91, 94);
      background: rgba(255, 255, 255, 0.15);
    }
    html.dark .dt-container .dt-paging .dt-paging-button.disabled, html.dark .dt-container .dt-paging .dt-paging-button.disabled:hover, html.dark .dt-container .dt-paging .dt-paging-button.disabled:active {
      color: #666 !important;
    }
    html.dark .dt-container .dt-paging .dt-paging-button:hover {
      border: 1px solid rgb(53, 53, 53);
      background: rgb(53, 53, 53);
    }
    html.dark .dt-container .dt-paging .dt-paging-button:active {
      background: #3a3a3a;
    }

    /*
     * Overrides for RTL support
     */
    *[dir=rtl] table.dataTable thead th,
    *[dir=rtl] table.dataTable thead td,
    *[dir=rtl] table.dataTable tfoot th,
    *[dir=rtl] table.dataTable tfoot td {
      text-align: right;
    }
    *[dir=rtl] table.dataTable th.dt-type-numeric, *[dir=rtl] table.dataTable th.dt-type-date,
    *[dir=rtl] table.dataTable td.dt-type-numeric,
    *[dir=rtl] table.dataTable td.dt-type-date {
      text-align: left;
    }
    *[dir=rtl] div.dt-container div.dt-layout-cell.dt-start {
      text-align: right;
    }
    *[dir=rtl] div.dt-container div.dt-layout-cell.dt-end {
      text-align: left;
    }
    *[dir=rtl] div.dt-container div.dt-search input {
      margin: 0 3px 0 0;
    }
</style>


<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Pages</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Starter Page</a>
                </li>
            </ul>
        </div>
        <div class="page-category">
            <!-- Inner page content goes here -->
            <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011-07-25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009-01-12</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012-03-29</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008-11-28</td>
                    <td>$162,700</td>
                </tr>
                <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012-12-02</td>
                    <td>$372,000</td>
                </tr>
                <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012-08-06</td>
                    <td>$137,500</td>
                </tr>
                <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010-10-14</td>
                    <td>$327,900</td>
                </tr>
                <tr>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009-09-15</td>
                    <td>$205,500</td>
                </tr>
                <tr>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008-12-13</td>
                    <td>$103,600</td>
                </tr>
                <tr>
                    <td>Jena Gaines</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>30</td>
                    <td>2008-12-19</td>
                    <td>$90,560</td>
                </tr>
                <tr>
                    <td>Quinn Flynn</td>
                    <td>Support Lead</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2013-03-03</td>
                    <td>$342,000</td>
                </tr>
                <tr>
                    <td>Charde Marshall</td>
                    <td>Regional Director</td>
                    <td>San Francisco</td>
                    <td>36</td>
                    <td>2008-10-16</td>
                    <td>$470,600</td>
                </tr>
                <tr>
                    <td>Haley Kennedy</td>
                    <td>Senior Marketing Designer</td>
                    <td>London</td>
                    <td>43</td>
                    <td>2012-12-18</td>
                    <td>$313,500</td>
                </tr>
                <tr>
                    <td>Tatyana Fitzpatrick</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>19</td>
                    <td>2010-03-17</td>
                    <td>$385,750</td>
                </tr>
                <tr>
                    <td>Michael Silva</td>
                    <td>Marketing Designer</td>
                    <td>London</td>
                    <td>66</td>
                    <td>2012-11-27</td>
                    <td>$198,500</td>
                </tr>
                <tr>
                    <td>Paul Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>64</td>
                    <td>2010-06-09</td>
                    <td>$725,000</td>
                </tr>
                <tr>
                    <td>Gloria Little</td>
                    <td>Systems Administrator</td>
                    <td>New York</td>
                    <td>59</td>
                    <td>2009-04-10</td>
                    <td>$237,500</td>
                </tr>
                <tr>
                    <td>Bradley Greer</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>41</td>
                    <td>2012-10-13</td>
                    <td>$132,000</td>
                </tr>
                <tr>
                    <td>Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <td>35</td>
                    <td>2012-09-26</td>
                    <td>$217,500</td>
                </tr>
                <tr>
                    <td>Jenette Caldwell</td>
                    <td>Development Lead</td>
                    <td>New York</td>
                    <td>30</td>
                    <td>2011-09-03</td>
                    <td>$345,000</td>
                </tr>
                <tr>
                    <td>Yuri Berry</td>
                    <td>Chief Marketing Officer (CMO)</td>
                    <td>New York</td>
                    <td>40</td>
                    <td>2009-06-25</td>
                    <td>$675,000</td>
                </tr>
                <tr>
                    <td>Caesar Vance</td>
                    <td>Pre-Sales Support</td>
                    <td>New York</td>
                    <td>21</td>
                    <td>2011-12-12</td>
                    <td>$106,450</td>
                </tr>
                <tr>
                    <td>Doris Wilder</td>
                    <td>Sales Assistant</td>
                    <td>Sydney</td>
                    <td>23</td>
                    <td>2010-09-20</td>
                    <td>$85,600</td>
                </tr>
                <tr>
                    <td>Angelica Ramos</td>
                    <td>Chief Executive Officer (CEO)</td>
                    <td>London</td>
                    <td>47</td>
                    <td>2009-10-09</td>
                    <td>$1,200,000</td>
                </tr>
                <tr>
                    <td>Gavin Joyce</td>
                    <td>Developer</td>
                    <td>Edinburgh</td>
                    <td>42</td>
                    <td>2010-12-22</td>
                    <td>$92,575</td>
                </tr>
                <tr>
                    <td>Jennifer Chang</td>
                    <td>Regional Director</td>
                    <td>Singapore</td>
                    <td>28</td>
                    <td>2010-11-14</td>
                    <td>$357,650</td>
                </tr>
                <tr>
                    <td>Brenden Wagner</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>28</td>
                    <td>2011-06-07</td>
                    <td>$206,850</td>
                </tr>
                <tr>
                    <td>Fiona Green</td>
                    <td>Chief Operating Officer (COO)</td>
                    <td>San Francisco</td>
                    <td>48</td>
                    <td>2010-03-11</td>
                    <td>$850,000</td>
                </tr>
                <tr>
                    <td>Shou Itou</td>
                    <td>Regional Marketing</td>
                    <td>Tokyo</td>
                    <td>20</td>
                    <td>2011-08-14</td>
                    <td>$163,000</td>
                </tr>
                <tr>
                    <td>Michelle House</td>
                    <td>Integration Specialist</td>
                    <td>Sydney</td>
                    <td>37</td>
                    <td>2011-06-02</td>
                    <td>$95,400</td>
                </tr>
                <tr>
                    <td>Suki Burks</td>
                    <td>Developer</td>
                    <td>London</td>
                    <td>53</td>
                    <td>2009-10-22</td>
                    <td>$114,500</td>
                </tr>
                <tr>
                    <td>Prescott Bartlett</td>
                    <td>Technical Author</td>
                    <td>London</td>
                    <td>27</td>
                    <td>2011-05-07</td>
                    <td>$145,000</td>
                </tr>
                <tr>
                    <td>Gavin Cortez</td>
                    <td>Team Leader</td>
                    <td>San Francisco</td>
                    <td>22</td>
                    <td>2008-10-26</td>
                    <td>$235,500</td>
                </tr>
                <tr>
                    <td>Martena Mccray</td>
                    <td>Post-Sales support</td>
                    <td>Edinburgh</td>
                    <td>46</td>
                    <td>2011-03-09</td>
                    <td>$324,050</td>
                </tr>
                <tr>
                    <td>Unity Butler</td>
                    <td>Marketing Designer</td>
                    <td>San Francisco</td>
                    <td>47</td>
                    <td>2009-12-09</td>
                    <td>$85,675</td>
                </tr>
                <tr>
                    <td>Howard Hatfield</td>
                    <td>Office Manager</td>
                    <td>San Francisco</td>
                    <td>51</td>
                    <td>2008-12-16</td>
                    <td>$164,500</td>
                </tr>
                <tr>
                    <td>Hope Fuentes</td>
                    <td>Secretary</td>
                    <td>San Francisco</td>
                    <td>41</td>
                    <td>2010-02-12</td>
                    <td>$109,850</td>
                </tr>
                <tr>
                    <td>Vivian Harrell</td>
                    <td>Financial Controller</td>
                    <td>San Francisco</td>
                    <td>62</td>
                    <td>2009-02-14</td>
                    <td>$452,500</td>
                </tr>
                <tr>
                    <td>Timothy Mooney</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>37</td>
                    <td>2008-12-11</td>
                    <td>$136,200</td>
                </tr>
                <tr>
                    <td>Jackson Bradshaw</td>
                    <td>Director</td>
                    <td>New York</td>
                    <td>65</td>
                    <td>2008-09-26</td>
                    <td>$645,750</td>
                </tr>
                <tr>
                    <td>Olivia Liang</td>
                    <td>Support Engineer</td>
                    <td>Singapore</td>
                    <td>64</td>
                    <td>2011-02-03</td>
                    <td>$234,500</td>
                </tr>
                <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>38</td>
                    <td>2011-05-03</td>
                    <td>$163,500</td>
                </tr>
                <tr>
                    <td>Sakura Yamamoto</td>
                    <td>Support Engineer</td>
                    <td>Tokyo</td>
                    <td>37</td>
                    <td>2009-08-19</td>
                    <td>$139,575</td>
                </tr>
                <tr>
                    <td>Thor Walton</td>
                    <td>Developer</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2013-08-11</td>
                    <td>$98,540</td>
                </tr>
                <tr>
                    <td>Finn Camacho</td>
                    <td>Support Engineer</td>
                    <td>San Francisco</td>
                    <td>47</td>
                    <td>2009-07-07</td>
                    <td>$87,500</td>
                </tr>
                <tr>
                    <td>Serge Baldwin</td>
                    <td>Data Coordinator</td>
                    <td>Singapore</td>
                    <td>64</td>
                    <td>2012-04-09</td>
                    <td>$138,575</td>
                </tr>
                <tr>
                    <td>Zenaida Frank</td>
                    <td>Software Engineer</td>
                    <td>New York</td>
                    <td>63</td>
                    <td>2010-01-04</td>
                    <td>$125,250</td>
                </tr>
                <tr>
                    <td>Zorita Serrano</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>56</td>
                    <td>2012-06-01</td>
                    <td>$115,000</td>
                </tr>
                <tr>
                    <td>Jennifer Acosta</td>
                    <td>Junior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>43</td>
                    <td>2013-02-01</td>
                    <td>$75,650</td>
                </tr>
                <tr>
                    <td>Cara Stevens</td>
                    <td>Sales Assistant</td>
                    <td>New York</td>
                    <td>46</td>
                    <td>2011-12-06</td>
                    <td>$145,600</td>
                </tr>
                <tr>
                    <td>Hermione Butler</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>47</td>
                    <td>2011-03-21</td>
                    <td>$356,250</td>
                </tr>
                <tr>
                    <td>Lael Greer</td>
                    <td>Systems Administrator</td>
                    <td>London</td>
                    <td>21</td>
                    <td>2009-02-27</td>
                    <td>$103,500</td>
                </tr>
                <tr>
                    <td>Jonas Alexander</td>
                    <td>Developer</td>
                    <td>San Francisco</td>
                    <td>30</td>
                    <td>2010-07-14</td>
                    <td>$86,500</td>
                </tr>
                <tr>
                    <td>Shad Decker</td>
                    <td>Regional Director</td>
                    <td>Edinburgh</td>
                    <td>51</td>
                    <td>2008-11-13</td>
                    <td>$183,000</td>
                </tr>
                <tr>
                    <td>Michael Bruce</td>
                    <td>Javascript Developer</td>
                    <td>Singapore</td>
                    <td>29</td>
                    <td>2011-06-27</td>
                    <td>$183,000</td>
                </tr>
                <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                    <td>27</td>
                    <td>2011-01-25</td>
                    <td>$112,000</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>


{{>admin/layouts/footer}}