{{>admin/layouts/header}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
<script>

    $(document).ready(function() {
        $('#example').DataTable({
            searching: false,
            ordering: false,
            pageLength: 10,
            lengthChange: false
        });
    });

</script>

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">경보 관리</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Pages</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">경보 관리</a>
                </li>
            </ul>
        </div>
        <div class="page-category">
            <!-- Inner page content goes here -->
            <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                    <th style="width: 18%;">경보 일시</th>
                    <th style="width: 20%;">위치</th>
                    <th style="width: 20%;">해파리</th>
                    <th>출현 여부</th>
                    <th>밀도</th>
                    <th>출현율</th>
                </tr>
                </thead>
                <tbody>
                {{#alerts}}
                    <tr>
                        <td>{{time}}시</td>
                        <td>{{beach}}</td>
                        <td>{{jelly}}</td>
                        <td>{{appearanceStatus}}</td>
                        <td>{{densityLabel}}</td>
                        <td>{{percentFormatted}}</td>
                    </tr>
                {{/alerts}}
                </tbody>
                <tfoot>
                <tr>
                    <th>경보 일시</th>
                    <th>위치</th>
                    <th>해파리</th>
                    <th>출현 여부</th>
                    <th>밀도</th>
                    <th>출현율</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{{>admin/layouts/footer}}