    </div> <!-- container 끝 -->

    <!-- 하단 푸터 -->
    <div class="footer">
        <div class="footer-text">
            이용약관
        </div>
        <div class="footer-text">
            개인정보처리방침
        </div>
        <div class="footer-text">
            Copyright 2025. made with by NULL 찾아 5조
        </div>
    </div>
</body>
</html>