    </div>
    <!-- 하단 푸터 -->
    <div class="footer">
        <a href="/terms">
            <div class="footer-text">
                이용약관
            </div>
        </a>
        <a href="/privacy.html">
            <div class="footer-text">
                개인정보처리방침
            </div>
        </a>
        <div class="footer-text">
            Copyright 2025. made with by NULL 찾아 5조
        </div>
    </div>
</div> <!-- container 끝 -->
</body>
</html>