<!-- ✅ 챗봇 버튼 추가 -->
<button id="chatbotToggle">
    <img src="/images/chat/ai_chat_icon.png" alt="챗봇 열기">
</button>
<!-- ✅ 챗봇 불러오기 -->
<div id="chatbotContainer" class="hidden">
    {{>main/chat}}
</div>
</div>
    <!-- 하단 푸터 -->
    <div class="footer">
        <a href="/terms">
            <div class="footer-text">
                이용약관
            </div>
        </a>
        <a href="/privacy">
            <div class="footer-text">
                개인정보처리방침
            </div>
        </a>
        <a href="/admin">
            <div class="footer-text">
                관리자
            </div>
        </a>
        <div class="footer-text">
            Copyright 2025. made with by NULL 찾아 5조
        </div>
    </div>
</div> <!-- container 끝 -->
<script src="/js/chat.js"></script>
<script src="/js/chatbotToggle.js"></script>
</body>
</html>