    <link rel="stylesheet" href="/css/common.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <!-- 상단 헤더 영역 -->
    <div class="top-header">
        <div class="top-header-inner">
            <div class="header-logo">
                <a href="/main">
                    <img class="left-icon" src="/images/jellymully_logo_01.png" alt="Side Icon">
                    <img class="top-background-logo" src="/images/jellymully_logo_EN 1.png" alt="Logo">
                </a>
            </div>
            <!-- 네비게이션 메뉴 -->
            <div class="nav-menu">
                <a href="/main"><div class="nav-menu-item">메인 메뉴</div></a>
                <a href="/main/detail"><div class="nav-menu-item">해파리 도감</div></a>
                <a href="/main/board"><div class="nav-menu-item">제보 게시판</div></a>
                <a href="/main.html"><div class="nav-menu-item">나머지</div></a>
            </div>
        </div>
    </div>