{{>layouts/header}}
    <title>해파리 상세보기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/board.css" />
    <link rel="stylesheet" href="/css/styles_detail.css">
    <script defer src="/js/board_detail.js"></script>
{{>layouts/header2}}

<!-- 전체 반투명 오버레이 -->
<div class="overlay">
    <!-- 상단 버튼 (박스 바깥) -->
    <div class="header-container">
        <a href="javascript:window.history.back(); "><button class="btn back-btn">뒤로가기</button></a>
        <div class="header-actions">
            <button class="btn delete-btn" onclick="openVeriPopup('del',{{board.boardId}},{{board.writerNumber}},{{board.writerPassword}})">삭제</button>
            <button class="btn edit-btn" onclick="openVeriPopup('edit',{{board.boardId}},{{board.writerNumber}},{{board.writerPassword}})">수정하기</button>
        </div>
    </div>

    <!-- 상세보기 박스 -->
    <div class="detail-box">
        <!-- 왼쪽: 해파리 사진 -->
        <div class="image-container">
            <img src="{{board.imageUrl}}" alt="해파리 사진" class="jellyfish-image">
        </div>

        <!-- 오른쪽: 정보 섹션 -->
        <div class="info-container">
            <div class="info-top">
                <div class="info-top-left">
                    <div class="info-group">
                        <label class="info-label">해파리</label>
                        <input type="text" class="form-control short-input" value="{{board.jelly}}" readonly>
                    </div>

                    <div class="info-group">
                        <label class="info-label">목격 위치</label>
                        <input type="text" class="form-control short-input" value="{{board.location}}" readonly>
                    </div>

                    <div class="info-group">
                        <label class="info-label">목격 시점</label>
                        <input type="text" class="form-control short-input" value="{{board.date}} | {{board.hour}}:{{board.minute}}" readonly>
                    </div>

                    <div class="info-group">
                        <label class="info-label">제보자 이름</label>
                        <!--<input type="text" class="form-control short-input" value="오현구" readonly>-->
                        <input type="text" class="form-control short-input" value="{{board.writer}}" readonly>
                    </div>
                </div>

                <div class="jellyfish-icon">
                    <img src="/images/jelly_icons/노무라입깃.png" alt="해파리 아이콘">
                    <button class="btn view-map">도감 보기</button>
                </div>
            </div>

            <div class="info-group-des">
                <label class="info-label-des">상세 설명</label>
                <!--<textarea class="description" readonly>기억안나 해수욕장에서 수영하려고 했는데 모래사장에 올라오다시피 가까이 와있었어요. 너무 커서 순간 외계생물체는 아닐까 생각했어요.</textarea>-->
                <textarea class="description" readonly>{{board.description}}</textarea>
            </div>

        </div>
    </div>
</div>

{{>layouts/footer}}