{{>layouts/header}}
    <title>해파리 상세보기</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="/css/board.css" />-->
    <link rel="stylesheet" href="/css/styles_detail.css">
    <script defer src="/js/board_detail.js"></script>
{{>layouts/header2}}
<div class="center-container">
    <!-- 상단 버튼 (박스 바깥) -->
    <div class="header-container">
        <a href="javascript:window.history.back(); "><button class="btn back-btn">뒤로가기</button></a>
        <div class="header-actions">
            <button class="btn delete-btn" onclick="openVeriPopup('del',{{board.boardId}},{{board.writerNumber}},{{board.writerPassword}})">삭제</button>
            <a href="/report/{{board.boardId}}"><button class="btn edit-btn">수정하기</button></a>
        </div>
    </div>

    <!-- 상세보기 박스 -->
    <div class="detail-box">
        <!-- 왼쪽: 해파리 사진 -->
        <div class="image-container">
            <img src="{{board.imageUrl}}" alt="해파리 사진" class="jellyfish-image">
        </div>

        <!-- 오른쪽: 정보 섹션 -->
        <div class="info-container">
            <div class="info-top">
                <div class="info-top-left">
                    <div class="info-group">
                        <label class="info-label">해파리</label>
                        <input type="text" class="form-control short-input" value="{{board.jelly}}" readonly>
                    </div>

                    <div class="info-group">
                        <label class="info-label">목격 위치</label>
                        <input type="text" class="form-control short-input" value="{{board.location}}" readonly>
                    </div>

                    <div class="info-group">
                        <label class="info-label">목격 시점</label>
                        <input type="text" class="form-control short-input" value="{{board.date}} | {{board.hour}}:{{board.minute}}" readonly>
                    </div>

                    <div class="info-group">
                        <label class="info-label">제보자 이름</label>
                        <input type="text" class="form-control short-input" value="{{board.writer}}" readonly>
                    </div>
                </div>

                <div class="jellyfish-icon">
                    <span id="jellyfish-name" style="display: none;">{{board.jelly}}</span>
                    <img id="jellyfish-icon" class="jellyfish-image" src="" alt="해파리 아이콘">
                    <button class="btn view-map" onclick="viewEncyclopedia()">도감 보기</button>
                </div>
            </div>

            <div class="info-group-des">
                <label class="info-label-des">상세 설명</label>
                <textarea class="description" readonly>{{board.description}}</textarea>
            </div>

        </div>
    </div>
</div>

{{>layouts/footer}}