{{>layouts/header}}
    <title>Jelly Mully</title>
    <!-- 외부 CSS 로드 -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- 지도 영역 추가 부분 !! -->
    <!-- 네이버 지도 API -->
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=k3y3venh9l"></script>
    <!-- Marker Clustering 라이브러리 -->
    <script type="text/javascript" src="/js/MarkerClustering.js"></script>
    <!-- 지도 관련 JavaScript -->
    <script type="text/javascript" src="/js/map.js"></script>
{{>layouts/header2}}
        <div class="left-contents">
            <div id="main-map" style="width:100%;height:100%;"></div>
        </div>
        <div class="right-contents">
            <div class="jelly-filter">
                <select id="alert-location" name="alert-location" required>
                    <option value="" disabled selected>지역을 선택하세요</option>
                    {{#oceanInfoList}}
                    <option value="{{id}}">{{oceanTitle}}</option>
                    {{/oceanInfoList}}
                </select>
                <select id="icon-help" name="icon-help">
                    <option value="" disabled selected>도움말</option>
                    <option value="">예측된 해파리</option>
                    <option value="">저밀도</option>
                    <option value="">고밀도</option>
                </select>
            </div>
            <div class="jelly-list">
                <div class="jelly-character jelly-alert">
                    <img src="/images/jelly_icons/노무라입깃.png" alt="노무라입깃해파리">
                    <div class="jelly-rate" style="">95%</div>
                </div>
                <div class="jelly-character jelly-alert">
                    <img src="/images/jelly_icons/보름달물.png" alt="보름달물해파리">
                    <div class="jelly-rate" style="">9%</div>
                </div>
                <div class="jelly-character">
                    <img src="/images/jelly_icons/커튼원양.png" alt="커튼원양해파리">
                    <div class="jelly-rate" style="display:none;">95%</div>
                </div>
                <div class="jelly-character">
                    <img src="/images/jelly_icons/유령.png" alt="유령해파리">
                    <div class="jelly-rate" style="display:none;">95%</div>
                </div>
                <div class="jelly-character">
                    <img src="/images/jelly_icons/작은상자.png" alt="작은상자해파리">
                    <div class="jelly-rate" style="display:none;">95%</div>
                </div>
                <div class="jelly-character">
                    <img src="/images/jelly_icons/두빛보름달.png" alt="두빛보름달해파리">
                    <div class="jelly-rate" style="display:none;">95%</div>
                </div>
                <div class="jelly-character">
                    <img src="/images/jelly_icons/기수식용(숲뿌리).png" alt="기수식용(숲뿌리)해파리">
                    <div class="jelly-rate" style="display:none;">95%</div>
                </div>
                <div class="jelly-character">
                    <img src="/images/jelly_icons/야광원양.png" alt="야광원양해파리">
                    <div class="jelly-rate" style="display:none;">95%</div>
                </div>
                <div class="jelly-character">
                    <img src="/images/jelly_icons/푸른우산관.png" alt="푸른우산관해파리">
                    <div class="jelly-rate" style="display:none;">95%</div>
                </div>
            </div>
            <div class="board-list">

            </div>
        </div>

<!-- 간단한 토글 스크립트 -->
<script>
    var alertList = {{{alertListJson}}};
    var oceanInfoList = {{{oceanInfoJson}}};
    var oceanInfoObj = {};
    oceanInfoList.forEach(item => {
        oceanInfoObj[item.id] = { ...item };
    });

    //  .jelly-character에 클릭 이벤트 -> 도감 연결
    document.querySelectorAll('.jelly-character').forEach(item => {
        item.addEventListener('click', () => {
            // 해파리 이름을 alt에서 가져옴
            const jellyName = item.querySelector('img').alt;

            // detail 페이지로 이동 + URL 파라미터로 해파리 이름 전달
            location.href = "/main/detail?jelly=" + encodeURIComponent(jellyName);
        });
    });
</script>

{{>layouts/footer}}