{{>layouts/header}}
<h1>Search My Posts</h1>
<form method="get" action="/main/board/search">
    <label for="writer">Writer:</label>
    <input type="text" id="writer" name="writer" required>
    <label for="writerNumber">Phone Number:</label>
    <input type="text" id="writerNumber" name="writerNumber" required>
    <label for="writerPassword">Password:</label>
    <input type="password" id="writerPassword" name="writerPassword" required>
    <button type="submit">Search</button>
</form>
{{>layouts/footer}}
