{{>layouts/header}}
<title>Jelly Mully - error</title>
<link rel="stylesheet" href="/css/detail.css" />
<script src="/js/jellyfish.js"></script>
{{>layouts/header2}}

<div>
    <h3>에러가 발생했습니다!</h3>
    <hr>
    <div>
        요청 경로:{{path}}<br>
        에러 코드:{{status}}<br>
        에러 메시지:{{message}}<br>
    </div>
</div>

{{>layouts/footer}}