/* 헤더 스타일 */
header {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

header h1 {
    margin: 0 0 20px 0;
}

/* 본문 컨테이너 */
main {
    text-align: start;
    max-width: 900px;
    margin: 0 auto 20px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* 섹션 제목 */
section h2 {
    color: #004466;
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px solid #004466;
    padding-bottom: 5px;
}

/* 리스트 스타일 */
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    background: url('check_icon.png') no-repeat left center;
    background-size: 18px;
    padding-left: 30px;
    margin-bottom: 10px;
}

/* 푸터 스타일 */
footer {
    text-align: center;
    padding: 20px;
    background-color: #004466;
    color: white;
    margin-top: 40px;
}
